
Course3_Session1_Upgrade_Demo/Assets/ArchitectureAssetPack/Lighting/UnityHDRI/MuirWood/MuirWoodWhiteBalanced.exr
Course3_Session1_Upgrade_Demo/Assets/ArchitectureAssetPack/Lighting/UnityHDRI/MuirWood/MuirWoodWhiteBalanced.exr.meta
